<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="main-container nav-cards">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">The Lancet: First global study estimates 1.5 million children worldwide
                have lost a parent, grandparent, or caregiver due to COVID-19</h5>
            <div class="nav-card-item-content">
                <p>
                    <!-- Intro paragraph goes here-->
                </p>
            </div>
            <br>
            <!--  The card thing startd here -->
            <div class="nav-card-item-content">

                <div class="nav-card-item-content">
                    <img width="100%" src="assets/resources/news/Image_Report Children-Hidden Pandemic-2021.png" />
                </div>
                <p style="text-align:justify">
                    An estimated 1.5 million children worldwide have experienced the death of a parent, custodial
                    grandparent, or other relative who cared for them, as a result of COVID-19, according to a new study
                    published in The Lancet, and carried out by carried out by researchers from the Centers for Disease
                    Control COVID-19 Response Team, the University of Oxford & other leading agencies.
                </p>
                <br>

                <p style="text-align:justify">
                    Children who have lost a parent or caregiver are at risk of profound short- and long-term adverse
                    effects on their health, safety, and wellbeing, such as increasing the risk of disease, physical
                    abuse, sexual violence, and adolescent pregnancy. The researchers call for urgent action to address
                    the impact of caregiver deaths on children into COVID-19 response plans.

                </p>
                <br>

                <p style="text-align:justify">
                    Dr Susan Hillis, one of the lead authors on the study, from the U.S. Centers for Disease Control and
                    Prevention COVID-19 Response Team says: “For every two COVID-19 deaths worldwide, one child is left
                    behind to face the death of a parent or caregiver. By April 30, 2021, these 1.5 million children had
                    become the tragic overlooked consequence of the 3 million COVID-19 deaths worldwide, and this number
                    will only increase as the pandemic progresses [1]. Our findings highlight the urgent need to
                    prioritize these children and invest in evidence-based programs and services to protect and support
                    them right now and to continue to support them for many years into the future – because orphanhood
                    does not go away.” </p>
                    <br>

                <p style="text-align:justify">
                    Study author Professor Lucie Cluver, Oxford University and the University of Cape Town South Africa,
                    says: “We have strong evidence from HIV and Ebola to guide solutions. We need to support extended
                    families or foster families to care for children, with cost-effective economic strengthening,
                    parenting programs, and school access. We need to vaccinate caregivers of children – especially
                    grandparent caregivers. And we need to respond fast because every 12 seconds a child loses their
                    caregiver to COVID."
                </p>
                <br>
                <p style="text-align:justify">
                    Before this report, there were no global figures to quantify how many children have been affected by
                    the loss of a caregiver during the COVID-19 pandemic, either directly (due to the virus) or
                    indirectly (due to another condition that was exacerbated due to the pandemic). The study’s
                    researchers developed mathematical models using the best available data as an initial attempt to
                    estimate the magnitude of this hidden impact of the pandemic on children. </p>
<br>
                    <p>
                       <sup> [1]</sup>  Johns Hopkins University Coronavirus Resource Center <a target="_blank" href="https://coronavirus.jhu.edu/">https://coronavirus.jhu.edu</a> 
                    </p>
            </div>
            <br>     
            
            <a target="_blank" href="http://www.thelancet.com/journals/lancet/article/PIIS0140-6736(21)01253-8/fulltext">
                <button class="red-more-buttons"> <a href="http://www.thelancet.com/journals/lancet/article/PIIS0140-6736(21)01253-8/fulltext"></a>
                    <h6>READ THE ARTICLE</h6>
                </button>
            </a>&nbsp;&nbsp;
            <a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/downloads/community/orphanhood-report.pdf">
                <button class="red-more-buttons"> <a href="https://www.cdc.gov/coronavirus/2019-ncov/downloads/community/orphanhood-report.pdf"></a>
                    <h6>DOWNLOAD THE REPORT</h6>
                </button>
            </a>&nbsp;
        </div>

    </div>

    <app-sidebar class="side-bar-container"></app-sidebar>
</div>