<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="main-container nav-cards">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">Celebrating Playful Parenting Month!</h5>
            <br>
            <div class="nav-card-item-content">
                <p>
                    <!-- Intro paragraph goes here-->
                </p>
            </div>
            <!--  The card thing startd here -->

            <div class="nav-card-item-content">
                <iframe width="700" height="400"  src="https://www.youtube.com/embed/JXIpS6naFKE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div>
                
                    <p style="text-align: justify;">
                        We are delighted to celebrate the Global Day of Parents and the Playful Parenting Month with you! We
                        would love
                        to know what your favorite playful parenting tip is! Is it about Honesty? Structure? Fun? Our first poll
                        results
                        show that ATTENTION is your favorite tip!
                      </p>
                      <p>
                        Take 15 sec to complete <a href="https://formfaca.de/sm/pblT-ART8">this short survey</a> & send us a
                        selfie by 11 June.
                      </p>
            </div>
           
            <span class="more-link"><a href="https://formfaca.de/sm/pblT-ART8">Click here to take survey. </a> </span>
            <span class="more-link"><a href="/favtips">Download your favorite playful parenting tip. </a> </span>

        </div>
    </div>
    <app-sidebar class="side-bar-container"></app-sidebar>
</div>