<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content">
    <div class="tabset">
        <input type="radio" name="tabset" id="tab1" checked>
        <label for="tab1">Stories</label>

        <input type="radio" name="tabset" id="tab2" >
        <label for="tab2">UNICEF Partners</label>

        <input type="radio" name="tabset" id="tab3" >
        <label for="tab3">GOVT Partners</label>
        
        <div class="tab-panels">
          <section class="tab-panel">
            <h2>Stories</h2>
            <app-stories-map></app-stories-map>            
          </section>
          <section class="tab-panel">
            <h2>UNICEF Partners</h2>
            <app-members-map></app-members-map>
          </section>
          <section class="tab-panel">
            <h2>GOVT Partners</h2>
            <app-funders-map></app-funders-map>
          </section>
        </div>  
      </div>
</div>