<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="main-container nav-cards">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">Congratulations on the well deserved Alan Pifer Award, Professor Cathy
                Ward!</h5>

            <div class="nav-card-item-content">
                <p> <strong>Date:</strong> 15 July 2021 <br>

                    <strong>Source:</strong> University of Cape Town
                </p>
            </div>
            <!--  The card thing startd here -->

            <div class="nav-card-item-content">
                <img width="100%" src="/assets/resources/news/Cathy-Ward.jpeg" />
            </div>

            <div>
                <p style="text-align:justify">
                    Professor Cathy Ward’s exceptional dedication to violence prevention and outstanding welfare-related
                    research has been recognised with the 2020 University of Cape Town (UCT) prestigious Alan Pifer
                    Award.</p>
                <p style="text-align:justify">
                    Growing up during apartheid, Professor Cathy Ward became aware of the systemic nature of violence in
                    South Africa and its devastating effects on society at a young age.</p>

                <p style="text-align:justify">
                    This sparked her interest in research around violence prevention and has led to the creation of
                    Parenting for Lifelong Health (PLH), a suite of not for profit, open access and evidence-based
                    programmes for low-resource settings that deal with conflict at home and help create positive and
                    safe environments for children.</p>

            </div>

            <div class="nav-card-item-content">
                <img width="700px%" src="/assets/resources/news/Quote_CathyWard.jpg" />
            </div>

            <div>
                <p>
                    Over a short period, PLH has had an outstanding impact on South African society and continues to
                    improve the lives of families daily. An estimated 81 000 cases of child abuse have been directly
                    averted through these programmes, which use mechanisms such as comic strips and roleplay to keep
                    costs low and make the content more accessible.
                </p>

            </div>
            <a target="_blank"
                href="https://www.news.uct.ac.za/article/-2021-07-14-prestigious-alan-pifer-award-for-professor-cathy-ward">
                <button class="red-more-buttons"> <a target="_blank"
                        href="https://www.news.uct.ac.za/article/-2021-07-14-prestigious-alan-pifer-award-for-professor-cathy-ward"></a>
                    <h6>Read the article</h6>
                </button>
            </a>&nbsp;
        </div>
    </div>
    <app-sidebar class="side-bar-container"></app-sidebar>
</div>