<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="main-container nav-cards">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">New webinar: Innovate! Accelerate! Evaluate!</h5>
            <br>
            <div class="nav-card-item-content">
                <p>
                    <!-- Intro paragraph goes here-->
                </p>
            </div>
            <!--  The card thing startd here -->

            <div class="nav-card-item-content">
                <img width="100%" src="assets/resources/news/new-webinar-innovate.png" />
            </div>

            <div>
                <p style="text-align:justify">
                    The COVID-19 pandemic has caused a dramatic impact on the lives of children with increased risks of
                    child abuse, poverty, poor nutrition, and mental health problems, among other negative outcomes.
                </p>


                <p style="text-align:justify">
                    Our Playful Parenting Emergency Response has brought together a multi-agency emergency COVID-19
                    response to provide parents with a set of evidence-based and open-source Playful parenting
                    resources, reaching an estimated 152 million people in 182 countries by April 2021.

                    Dr. Jamie M. Lachman, Senior Research Officer, University of Oxford, shares how we used the RE-AIM
                    framework to evaluate the reach, effectiveness, adoption, implementation, and maintenance of our
                    initiative.
                </p>

            </div>

            <a href="https://globalimplementation.org/resources/webinar-innovate-accelerate-evaluate/">
                <button class="red-more-buttons"> <a
                        href="https://globalimplementation.org/resources/webinar-innovate-accelerate-evaluate/"></a>
                    <h6>Watch the Webinar</h6>
                </button>
            </a>

        </div>
    </div>
    <app-sidebar class="side-bar-container"></app-sidebar>
</div>