<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="main-container nav-cards">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">GLOBAL INITIATIVE SUPPORT FOR PARENTS</h5>
            <br>
            <div class="nav-card-item-content">
                <p>
                    <!-- Intro paragraph goes here-->
                </p>
            </div>
            <!--  The card thing startd here -->

            <div class="nav-card-item-content">
                <img width="100%" src="assets/resources/news/global-support-parents/thumbnail1.png" />
            </div>

            <div>
                <p style="text-align:justify">
                    On 28 June, nearly 500 individuals joined the launch of the Global Initiative to Support Parents –
                    and the Call to Action– to push for increased support for parents, caregivers, and families across
                    the world.
                </p>


                <p style="text-align:justify">
                    At the event, several high-level leaders spoke in support of the initiative, including <strong> Dr
                        Tedros
                        Adhanom Ghebreyesus</strong>, the Director-General of the World Health Organization;
                    <strong>Henrietta H Fore</strong> , the
                    Executive Director of UNICEF; <strong>Dr Howard Taylor</strong> , the Executive Director of the End
                    Violence
                    Partnership; Dr Muhammad Musa, Executive Director of BRAC International; and many others.
                </p>

                <p style="text-align:justify">
                    <a
                        href="https://www.end-violence.org/sites/default/files/2021-06/Parenting%20Inter-agency%20Vision%20Final%20%281%29.pdf">The
                        Global Initiative to Support Parents</a> is an inter-agency vision to increase global support
                    for
                    parents and caregivers. It aims to push forward a <a
                        href="https://covidaction.ecdan.org/parenting">Call to Action</a> in support of a collective
                    action
                    framework that urges for increased investment in evidence-based parent support initiatives across
                    the globe.
                </p>
            </div>

            <a href="https://youtu.be/_Y-SH9cnmRo">
                <button class="red-more-buttons"> <a href="https://youtu.be/_Y-SH9cnmRo"></a>
                    <h6>Watch the full event</h6>
                </button>
            </a>&nbsp;

            <a href="https://covidaction.ecdan.org/parenting">
                <button class="red-more-buttons"> <a href="https://covidaction.ecdan.org/parenting"></a>
                    <h6>Sign the call to action</h6>
                </button>
            </a>&nbsp;

            <a
                href="https://www.end-violence.org/sites/default/files/2021-06/Parenting%20Inter-agency%20Vision%20Final%20%281%29.pdf">
                <button class="red-more-buttons"> <a
                        href="https://www.end-violence.org/sites/default/files/2021-06/Parenting%20Inter-agency%20Vision%20Final%20%281%29.pdf"></a>
                    <h6>Read the inter Agency Vision</h6>
                </button>
            </a>
            <br>


            <div class="nav-card-item-content">
                <h5>
                    PARENTING IN THE CONTEXT OF COVID-19
                </h5>
            </div>

            <div class="news-container">
                <div class="news-text">

                    <p style="text-align:justify">
                        At the height of the COVID-19 pandemic, more than 1.5 billion children were out of school. While
                        school closures disrupted children’s learning, routines, and support systems, they also added
                        stress on family members facing increased economic vulnerability – or who were, and continue to
                        be, struggling to work remotely. Such stress can lead to higher rates of abuse and exploitation.
                    </p>

                    <p style="text-align:justify">
                        <strong>Dr Lucie Cluver</strong> , a professor at the universities of Oxford and Cape Town,
                        illustrated that
                        strain on parents, caregivers and families across the world – and highlighted how COVID-19
                        stressors will take years to fully dissipate. Early reports estimate that it will take up to
                        five years for some countries to become 70 per cent vaccinated, showcasing the need for parent
                        support interventions to be implemented urgently and at scale. She explored the wide range of
                        positive outcomes from parent support interventions which can ripple across communities for up
                        to three decades.
                    </p>

                    <a
                        href="https://www.end-violence.org/sites/default/files/2021-06/210626%20InterAgencyParentingVision.pdf">
                        <button class="red-more-buttons"> <a
                                href="https://www.end-violence.org/sites/default/files/2021-06/210626%20InterAgencyParentingVision.pdf"></a>
                            <h6>Access Dr Cluver’s presentation in full here</h6>
                        </button>
                    </a>
                </div>
            </div>
            <br>

            <div>
                <iframe width="700" height="400" src="https://www.youtube.com/embed/nSsg15lybJU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>


            <div class="nav-card-item-content">
                <h5>
                    THE GLOBAL INITIATIVE TO SUPPORT PARENTS
                </h5>
            </div>

            <div class="news-container">
                <div class="news-text">

                    <p style="text-align:justify">
                        Elizabeth Lule, the Executive Director of the Early Childhood Development Action Network,
                        presented the Global Initiative to Support Parents, its vision and collective action framework,
                        and the related Call to Action. The Global Initiative’s inter-agency vision is built on
                        evidence-based parenting interventions and highlights the importance of working with governments
                        to embed parenting strategies into existing national systems.</p>

                    <p style="text-align:justify">
                        Through the Global Initiative to Support Parents, partners are calling for three collective
                        action goals, including:
                    </p>

                    <ol>
                        <li>
                            <strong>Protect</strong> children and adolescents, and support families to cope with the
                            multiple stressors, including those resulting from the COVID-19 pandemic.
                        </li>
                        <li>
                            <strong>Enable</strong> parents to nurture their children’s development across the life
                            course, in the context of reduced child-related services and increased parental
                            responsibilities.
                        </li>
                        <li>
                            <strong> Build</strong> the foundation for mainstreaming the uptake and implementation of
                            evidence-based parent and caregiver support initiatives in all countries.
                        </li>
                    </ol>
                    <p style="text-align:justify">
                        “By achieving these goals, we, as a global community, can overcome setbacks posed by COVID-19
                        and accelerate progress across a range of SDGs,” said Lule.
                    </p>

                </div>
            </div>
            <br>

            <div class="nav-card-item-content">
                <h5>
                    SUPPORT FROM ACROSS SECTORS
                </h5>
            </div>

            <div class="news-container">
                <div class="news-text">

                    <p style="text-align:justify">
                        After the Global Initiative to Support Parents was unveiled, multiple high-level leaders spoke
                        in support of its ambition to help caregivers and, as a result, protect children. Dr
                        Ghebreyesus, for example, spoke of the World Health Organization’s commitment to the vision, and
                        how they are supporting countries in their efforts to strengthen parenting services.

                    <p style="text-align:justify">
                        “The COVID-19 pandemic has underscored the pivotal role that parents and caregivers play in the
                        health of children and adolescents,” said Dr Ghebreyesus. “With many health and social systems
                        badly overstretched, we must come together to support parents and caregivers.”
                    </p>

                    <div>
                        <iframe width="700" height="400" src="https://www.youtube.com/embed/_Y-SH9cnmRo"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <p style="text-align:justify">
                        Soon after, Henrietta Fore did the same, noting the importance of country-level scale up and
                        innovation in response to COVID-19.
                    </p>


                    <p style="text-align:justify">
                        “The multiple partners already involved are just the beginning of a coalition that no one can
                        ignore: a new collaboration with a mutual interest in evidence-based interventions that can
                        support parents and caregivers and thereby have multiple positive impacts – at scale – for
                        children,” said Dr Taylor. “We now have an opportunity to work together and turn this shared
                        vision into a reality.”
                    </p>

                    <p style="text-align:justify">
                        Dr Taylor urged the audience to sign the Call to Action – and to join the global movement to
                        support parents and caregivers through this collective effort.
                    </p>

                    <div>
                        <iframe width="700" height="400" src="https://www.youtube.com/embed/_Y-SH9cnmRo"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <p style="text-align:justify">
                        Support was also voiced by Sarah Bouchie, the Chief Impact Officer of the LEGO Foundation;
                        Gretchen Bachman, Senior Advisor, Orphans and Vulnerable Children, USAID; Stefania Giannini, the
                        Assistant-Director General for Education at UNESCO; Elizabeth Saenz, Liaison Officer at the
                        UNODC; Dr Muhammad Musa, Executive Director at BRAC International; and Dr Joan Lombardi, Senior
                        Scholar at the Center for Child and Human Development at Georgetown University. Each speaker
                        highlighted commitment to this cause from their respective sector, spotlighting programmes their
                        organisations and institutions have implemented to adapt to the changing COVID-19 context.
                    </p>

                    <div>
                        <iframe width="700" height="400" src="https://www.youtube.com/embed/_Y-SH9cnmRo"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="nav-card-item-content">
                        <h5>
                            GROWING THE MOVEMENT
                        </h5>
                    </div>
                    <p style="text-align:justify">
                        To join the movement to support parents, caregivers and families, please read the full
                        inter-agency vision here, and sign the related Call to Action as an organization or an
                        individual. The Call to Action will remain open from 28 June to 28 August 2021.
                    </p>

                    <a href="https://covidaction.ecdan.org/parenting">
                        <button class="red-more-buttons"> <a href="https://covidaction.ecdan.org/parenting"></a>
                            <h6>Sign the call to action</h6>
                        </button>
                    </a>&nbsp;

                    <a
                        href="https://www.end-violence.org/sites/default/files/2021-06/Parenting%20Inter-agency%20Vision%20Final%20%281%29.pdf">
                        <button class="red-more-buttons"> <a
                                href="https://www.end-violence.org/sites/default/files/2021-06/Parenting%20Inter-agency%20Vision%20Final%20%281%29.pdf"></a>
                            <h6>Read the inter Agency Vision</h6>
                        </button>
                    </a>

                </div>
            </div>
            <br>


        </div>
    </div>
    <app-sidebar class="side-bar-container"></app-sidebar>
</div>