<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="main-container nav-cards">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">NEWS</h5>
            <div class="nav-card-item-content">
                <p>
                    The COVID-19 Playful Parenting team's collaboration has brought together global agencies, governments, universities, NGOs, and community organisations to provide evidence-informed playful parenting resources to an unprecedented number of people in just
                    a few months of intense work since the COVID-19 pandemic started.
                </p>
                <br>
                <p>
                    We are happy to share the following news with you as we continue to work tirelessly to create innovative approaches, respond to partner requests, and learn how these resources impact the lives of children and families.
                </p>
            </div>
            <br>

            <div class="nav-card-item-content">
                <a href="/articles/The-Lancet:-First-global-study-estimates" class="news-container">
                    <div class="news-resource">
                        <img src="assets/resources/news/Image_Report Children-Hidden Pandemic-2021.png" />
                    </div>
                    <div class="news-text">
                        <h5>
                            The Lancet: First global study estimates 1.5 million children worldwide have lost a parent, grandparent, or caregiver due to COVID-19
                        </h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/professor-cathy-wards-alan-pifer-award" class="news-container"> 
                    <div class="news-resource">
                        <img src="assets/resources/news/Cathy-Ward.jpeg" />
                    </div>
                    <div class="news-text">
                        <h5>Congratulations on the well deserved Alan Pifer Award, Professor Cathy Ward!</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/Global-Initiative-to-Support-Parents-Call-to-Action" class="news-container">
                    <div class="news-resource">
                        <img src="assets/resources/news/call-to-action.png" />
                    </div>
                    <div class="news-text">
                        <h5>Global Initiative to Support Parents Call to Action</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/New-webinar:-Innovate!-Accelerate!-Evaluate!" class="news-container">
                    <div class="news-resource">
                        <img src="assets/resources/news/speakers-jamie-complete-bio1.png" />
                    </div>
                    <div class="news-text">
                        <h5>New webinar: Innovate! Accelerate! Evaluate!</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/Save-the-dates:-5-9-July!" class="news-container">
                    <div class="news-resource">
                        <img src="assets/resources/news/speakers-jamie-complete-bio1.png" />
                    </div>
                    <div class="news-text">
                        <h5>Save the dates: 5-9 July!</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/Celebrating-Playful-Parenting-Month!-Celebrating-Playful-Parenting-Month!-What-is-your-favorite-tip?" class="news-container">
                    <div class="news-resource">
                        <iframe width="100%" height="200-px" src="https://www.youtube.com/embed/JXIpS6naFKE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="news-text">
                        <h5>Celebrating Playful Parenting Month! Celebrating Playful Parenting Month! What is your favorite tip?!</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/SOPISDEW-reached-more-than-50,000-people-in-Cameroon-through-radio-broadcast!" class="news-container">
                    <div class="news-resource">
                        <img src="assets/resources/news/Sopisdew.jpeg" />
                    </div>
                    <div class="news-text">
                        <h5>SOPISDEW reached more than 50,000 people in Cameroon through radio broadcast!</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/Church-Leaders-Guide-is-now-available-in-the-Russian!" class="news-container">
                    <div class="news-resource">
                        <img src="assets/resources/faithbased/russian _leaders_thumbnail.PNG" />
                    </div>
                    <div class="news-text">
                        <h5>Church Leaders Guide is now available in the Russian!</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/Once-Upon-a-Time,-When-I-Was-Little" class="news-container">
                    <div class="news-resource">
                        <img src="assets/resources/news/stips1.jpg" />
                    </div>
                    <div class="news-text">
                        <h5>Once Upon a Time, When I Was Little...</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/Let's-Use-Our-Imagination" class="news-container">
                    <div class="news-resource">
                        <img src="assets/resources/news/stips22.jpg" />
                    </div>
                    <div class="news-text">
                        <h5>Let's Use Our Imagination</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/Street-Names" class="news-container">
                    <div class="news-resource">
                        <img src="assets/resources/news/stips7.jpg" />
                    </div>
                    <div class="news-text">
                        <h5>Street Names</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/I'm-Thinking-of-a-Word" class="news-container">
                    <div class="news-resource">
                        <img src="assets/resources/news/stips11.jpg" />
                    </div>
                    <div class="news-text">
                        <h5>I'm Thinking of a Word...</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/Look-Around-You-and-Find-Yellow" class="news-container">
                    <div class="news-resource">
                        <img src="assets/resources/news/stips19.jpg" />
                    </div>
                    <div class="news-text">
                        <h5>Look Around You and Find... Yellow</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/Generali-The-Human-Safety-Net-Global-Playful-Parenting-Digital-Hackathon" class="news-container">
                    <div class="news-resource">
                        <div style="border-style: groove; border-color:#abf2f7"> <video width="100%" height="150px" src="assets/resources/news/THSNHackathon.mp4" controls muted></video></div>
                    </div>
                    <div class="news-text">
                        <h5>Generali - The Human Safety Net Global Playful Parenting Digital Hackathon</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/Interview-with-Phil-Green,-COVID-19-Crisis-Response-and-Recovery-Coordinator-at-World-Without-Orphans" class="news-container">
                    <div class="news-resource">
                        <img src="assets/images/home-for-good-book-event.jpg" />
                    </div>
                    <div class="news-text">
                        <h5>Interview with Phil Green, COVID-19 Crisis Response and Recovery Coordinator at World Without Orphans</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/New-cover-of-our-Lets-Slow-Down-song-Se-Estresse" class="news-container">
                    <div class="news-resource">
                        <iframe width="100%" height="150px" src="https://www.youtube.com/embed/eQT1lbI5OmM?list=PLURnZih-6HI5nB2Co8QdZe1c1sRpxLuqi" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                  </iframe>
                    </div>
                    <div class="news-text">
                        <h5>New cover of our "Let's Slow Down" song- Se Estresse Não</h5>
                    </div>
                </a>
            </div>
            <hr />


            <div class="nav-card-item-content">
                <a href="/articles/Check-our-Greeting-Cards!" class="news-container">
                    <div class="news-resource">
                        <img src="assets/resources/news/Holiday-Greetings-cards.jpg" />
                    </div>
                    <div class="news-text">
                        <h5>Check our Greeting Cards!</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/Celebrating-our-reach-of-134-Million!" class="news-container">
                    <div class="news-resource">
                        <img src="assets/images/contactus_blob.png" />
                    </div>
                    <div class="news-text">
                        <h5>Celebrating our reach of 134 Million!</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/Playful-Parenting-during-COVID-19-with-UNICEF-INDIA" class="news-container">
                    <div class="news-resource">
                        <img src="assets/resources/news/india.jpg" />
                    </div>
                    <div class="news-text">
                        <h5>Playful Parenting during COVID-19 with UNICEF INDIA</h5>
                    </div>
                </a>
            </div>
            <hr />


            <div class="nav-card-item-content">
                <a href="/articles/Podcast-A-new-age-of-playful-parenting:-where-data-matters" class="news-container">
                    <div class="news-resource">
                        <img src="assets/resources/news/podcast.jpg" />
                    </div>
                    <div class="news-text">
                        <h5>Podcast "A new age of playful parenting: where data matters"</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/Micro-grants-in-DAC-countries" class="news-container">
                    <div class="news-resource">
                        <img src="assets/resources/news/micro-grants.png" />
                    </div>
                    <div class="news-text">
                        <h5>Micro-grants in DAC countries</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/Jamaica-in-the-Spotlight" class="news-container">
                    <div class="news-resource">
                        <img src="assets/resources/news/lovefm.png" />
                    </div>
                    <div class="news-text">
                        <h5>Jamaica in the Spotlight</h5>
                    </div>
                </a>
            </div>
            <hr />

            <div class="nav-card-item-content">
                <a href="/articles/Pandemi-Playful-Parenting-Scenes-and-snippets-from-families-navigating-an-all-consuming-crisis" class="news-container">
                    <div class="news-resource">
                        <img src="assets/resources/news/nytimes.png" />
                    </div>
                    <div class="news-text">
                        <h5>"Pandemic Playful Parenting - Scenes and snippets from families navigating an all-consuming crisis"</h5>
                    </div>
                </a>
            </div>
            <hr />

        </div>
    </div>
    <app-sidebar class="side-bar-container"></app-sidebar>
</div>