<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="main-container nav-cards">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">The “ParentChat” programme is helping Milos gain new skills</h5>

            <div class="nav-card-item-content">
                <p> <strong>Date:</strong> 15 July 2021 <br>

                    <strong>Source:</strong> Milica Bogdanović, Unicef
                </p>
            </div>
            <!--  The card thing startd here -->

            <div class="nav-card-item-content">
                <img width="100%" src="assets/resources/news/Milos.jpeg" />
            </div>

            <div>
                <p style="text-align:justify">
                    The “ParentChat" programme responds to the need to support parents in coping with children in
                    stressful situations. Milos was one of the parents who participated in “ParentChat”, launched in
                    Montenegro this year.
                    Although mothers are participating in such programmes in higher numbers, Milos, aware of the
                    importance of the father's role in the child's upbringing, decided to apply.</p>

                <div class="nav-card-item-content">
                    <img width="100%" src="assets/resources/news/quote-milos.jpg" />
                </div>

                <p style="text-align:justify">
                    Thanks to conversations and exchanging experiences with the other parents, Milos has mastered new
                    strategies to help him build a positive relationship with his four-year-old son.
                </p>
                <p style="text-align:justify">
                    The “ParentChat” programme is designed for the parents of children aged 2-17 who, by participating
                    in this programme, want to improve the socio-emotional development of their children and learn how
                    positive parenting techniques could help improve relationships and prevent mental health problems in
                    the family.
                </p>

                <div class="nav-card-item-content">
                    <img width="100%" src="assets/resources/news/quote-facilitator-milos.jpg" />
                </div>

                <p style="text-align:justify">
                    Participants from all over Montenegro attended group meetings and individual consultations online.
                    The workshop in which Milos participated was facilitated by a psychologist from Nikšić, Radovan
                    Cicmil.
                </p>
            </div>

            <a target="_blank"
                href="https://www.unicef.org/montenegro/en/stories/parentchat-programme-helping-milos-gain-new-skills">
                <button class="red-more-buttons"> <a target="_blank"
                        href="https://www.unicef.org/montenegro/en/stories/parentchat-programme-helping-milos-gain-new-skills"></a>
                    <h6>Read the article</h6>
                </button>
            </a>&nbsp;
        </div>
    </div>
    <app-sidebar class="side-bar-container"></app-sidebar>
</div>