<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>

<!-- about -->
<div class="content about-container" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">


    <div class="about-text" data-aos="zoom-in">
        <div class="impact">
            <p style="font-weight: bold; font-size: 25px;">
                The COVID-19 Playful Parenting resources have now reached
                <br><span class="numbers-reach">0</span>
                <br>people!
            </p>
        </div>
        <h4>ABOUT US</h4>
        <h3>COVID-19: 24/7 PLAYFUL PARENTING</h3>
        <p>
            <b>Evidence-based playful parenting tips available in more than 100 languages.</b>
            <br />
        <p>
            Parenting for Lifelong Health (PLH) provides open-source and evidence-based playful parenting resources to
            support
            parents and caregivers during the COVID-19 pandemic and beyond. These resources focus on building positive
            parent-child relationships and reducing
            violence against children by learning through play, reinforcing positive and managing difficult behaviours,
            creating structure and routines, talking about COVID-19, keeping children safe online, and reducing stress
            and conflict.
        </p>
        <p>
            We are working with the World Health Organization (WHO), UNICEF, the Global Partnership to End Violence
            Against Children, USAID, Centers for Disease Control and Prevention (CDC), the Oxford University, the LEGO
            Foundation, the Internet of Good Things
            & many more, to keep children safe during the COVID-19 pandemic and beyond.
        </p>
    </div>
    <div class="about-image " data-aos="zoom-in">
        <img src="assets/images/home_about_us.png" />
    </div>
</div>
<!-- /about --->

<div class="content nav-cards nav-home">
    <div class="nav-card-item nav-card-one" data-aos="zoom-in" data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom">
        <h5 class="nav-card-item-header">NEWS</h5>
        <div class="nav-card-item-content">
            <div class="nav-cards-img"> <img src="assets/images/home_news.png" /> </div>
        </div>

        <div class="nav-card-item-content">
            <h5> The Lancet: First global study estimates 1.5 million children worldwide have lost a parent,
                grandparent, or caregiver due to COVID-19</h5>
            <br>
            <div>
                <img width="100%" src="assets/resources/news/Image_Report Children-Hidden Pandemic-2021.png" />
            </div>
            <br>
            <p>
                An estimated 1.5 million children worldwide have experienced the death of a parent, custodial
                grandparent, or other relative who cared for them, as a result of COVID-19, according to a new study
                published in The Lancet, and carried out by carried out by researchers from the Centers for Disease
                Control COVID-19 Response Team, the University of Oxford & other leading agencies. </p>
            <br>
                   
            <a href="global-study-by-CDC-and-University-of-Oxford">
                <button class="red-more-buttons"> <a href="global-study-by-CDC-and-University-of-Oxford"></a>See
                    More</button>
            </a>
        </div>
        <br>

        <div class="nav-card-item-content">
            <h5> The “ParentChat” programme is helping Milos gain new skills</h5>
            <br>
            <div>
                <img width="100%" src="assets/resources/news/Milos.jpeg" />
            </div>
            <br>
            <p>
                The “ParentChat" programme responds to the need to support parents in coping with children in stressful
                situations.Milos was one of the parents who participated in “ParentChat”, launched in Montenegro this
                year. </p>
            <br>
            <p>
                Thanks to conversations and exchanging experiences with the other parents, Milos has mastered new
                strategies to help him build a positive relationship with his four-year-old son.
            </p>
            <br>
            <a href="parent-chat-helping-milos">
                <button class="red-more-buttons"> <a href="parent-chat-helping-milos"></a>See
                    More</button>
            </a>
        </div>
        <br>


        <div class="nav-card-item-content">
            <h5> Congratulations on the well deserved Alan Pifer Award, Professor Cathy Ward!</h5>
            <br>
            <div>
                <img width="100%" src="assets/resources/news/Cathy-Ward.jpeg" />
            </div>
            <br>
            <p>
                Professor Cathy Ward’s exceptional dedication to violence prevention and outstanding welfare-related
                research have been recognised with the 2020 University of Cape Town (UCT) prestigious Alan Pifer Award.
            </p>
            <br>
            <p>
                Thanks to conversations and exchanging experiences with the other parents, Milos has mastered new
                strategies to help him build a positive relationship with his four-year-old son.
            </p>
            <br>

            <br>
            <a href="/professor-cathy-wards-alan-pifer-award">
                <button class="red-more-buttons"> <a href="professor-cathy-wards-alan-pifer-award"></a>See
                    More</button>
            </a>
        </div>
        <br>



        <div class="nav-card-item-content">
            <h5> GLOBAL INITIATIVE TO SUPPORT PARENTS</h5>
            <br>
            <div>
                <img width="100%" height="" src="assets/resources/news/call-to-action.png">
            </div>
            <br>
            <p>
                On Monday the 28th of June, Parenting for Lifelong Health (PLH) launched a 𝗖𝗮𝗹𝗹 𝘁𝗼 𝗔𝗰𝘁𝗶𝗼𝗻
                with UNICEF, World Health Organization (WHO), End Violence Partnership, ECDAN, The LEGO Foundation &
                many others, urging for global scale-up of evidence-based initiatives to support caregivers.
            </p>
            <br>
            <p>
                Join us to <a href="https://web.facebook.com/hashtag/supportparents?_rdc=1&_rdr">#SupportParents</a> and
                secure a more resilient & promising future for every child:
            </p>
            <br>
            <a href="https://covidaction.ecdan.org/parenting">
                <button class="red-more-buttons"> <a href="https://covidaction.ecdan.org/parenting"></a>Sign
                    Here</button>
            </a>

            <br>
            <br>
            <a href="global-initiative-support-parents">
                <button class="red-more-buttons"> <a href="global-initiative-support-parents"></a>See
                    More</button>
            </a>
        </div>
        <br>

        <div class="nav-card-item-content">
            <h5>New webinar: Innovate! Accelerate! Evaluate!</h5>
            <br>
            <div>
                <img width="100%" height="" src="assets/resources/news/speakers-jamie-complete-bio1.png">
            </div>
            <br>
            <p>
                The COVID-19 pandemic has caused a dramatic impact on the lives of children with increased risks of
                child abuse, poverty, poor nutrition, and mental health problems, among other negative outcomes.
            </p>
            <br>
            <a href="/new-webinar-innovate">
                <button class="red-more-buttons"> <a href="/new-webinar-innovate"></a>See
                    More</button>
            </a>
        </div>
        <br>

        <div class="nav-card-item-content">
            <h5>Save the dates: 5-9 July! </h5>
            <br>
            <div>
                <img width="100%" height="" src="assets/resources/news/speakers-jamie-complete-bio.png">
            </div>
            <br>
            <p>
                Join Dr Jamie Lachman, Senior Researcher at the University of Oxford, on this exciting free <a
                    href="https://web.facebook.com/hashtag/parenting?_rdc=1&_rdr">playful parenting summit</a> to give
                parents
                evidence-based tools to help overcome the challenges of <a
                    href="https://web.facebook.com/hashtag/covid19?_rdc=1&_rdr">#COVID19.</a>
            </p>
            <br>
            <a href="/save-dates-july">
                <button class="red-more-buttons"> <a href="/save-dates-july"></a>See
                    More</button>
            </a>
        </div>
        <br>

        <div class="nav-card-item-content">
            <h5>Celebrating playful Parenting Month! What is your favorite tip? </h5>
            <br>
            <div style="border-style: groove; border-color:#abf2f7">
                <iframe width="100%" height="150px" src="https://www.youtube.com/embed/JXIpS6naFKE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <br>
            <p>
                We are delighted to celebrate the Global Day of Parents and the playful Parenting Month with you! We
                would love
                to know what your favorite playful parenting tip is! Is it about Honesty? Structure? Fun? Take 15 sec to
                complete our <a href="https://formfaca.de/sm/pblT-ART8">short survey</a> & send us a selfie by 11 June.
            </p>
            <br>
            <a href="/playful-parenting-month">
                <button class="red-more-buttons"> <a href="/playful-parenting-month"></a>See
                    More</button>
            </a>
        </div>
        <br>

        <div class="nav-card-item-content">
            <h5>The Science of Scale for Violence Prevention: A New Agenda for Family Strengthening in Low- and
                Middle-Income Countries
            </h5><br>
            <div>
                <img src="assets/resources/news/sciencethumbnail.jpeg">
            </div>
            <br>
            <p>
                Ending all violence against children by 2030 is a core part of Sustainable Development Goals 5 and 16.
                Several promising violence reduction strategies have been identified in research studies.

            </p>
            <br>
            <a href="/press#frontiers">
                <button class="red-more-buttons"> <a href="/press#frontiers"></a>Read
                    More</button>
            </a>
        </div>
        <br>

        <div class="nav-card-item-content">
            <h5>SOPISDEW reached more than 50,000 people in Cameroon through radio broadcast!</h5><br>
            <div>
                <img src="assets/resources/news/Sopisdew.jpeg">
            </div>
            <br>
            <p>
                Our partner SOPISDEW Cameroon broadcasted the COVID-19 playful Parenting Tips in 5 local languages,
                reaching an
                estimated population of over 50,000 people.
            </p>
            <br>
            <a href="/news">
                <button class="red-more-buttons"> <a href="/news"></a>Read
                    More</button>
            </a>
        </div>
        <br>


        <div class="nav-card-item-content">
            <h5>Nurturing care for young children during and beyond COVID 19</h5><br>
            <div>
                <img src="assets/resources/news/ARNEC-thumbnail.jpg">
            </div>
            <br>
            <p>
                The Asian-Pacific Regional Network for Early Childhood (ARNEC) hosted the webinar series entitled,
                'Nurturing care for young children: seeking solutions for addressing disparities heightened by the
                impact of COVID-19'.
            </p>
            <br>
            <a href="/webinars">
                <button class="red-more-buttons"> <a href="/webinars"></a>Read
                    More</button>
            </a>
        </div>
        <br>

        <div class="nav-card-item-content">
            <h5>Church Leaders Guide is now available in Russian!</h5><br>
            <div>
                <img src="assets/resources/faithbased/russian _leaders_thumbnail.PNG">
            </div>
            <br>
            <p>
                Our Church Leaders Guide is now available in the Russian language. We thank our partner,<a
                    href="https://worldwithoutorphans.org/"> World Without Orphans</a> for their support in providing
                this new resource.
            </p>
            <br>
            <a href="/news">
                <button class="red-more-buttons"> <a href="/news"></a>Read
                    More</button>
            </a>
        </div>
        <br>

        <div class="nav-card-item-content">
            <h5>“Travel Together – Play Together”, a new fun and creative playful parenting campaign by our partner
                GOSHEN</h5>
            <br>
            <div>
                <img src="assets/resources/news/stips2.jpg">
            </div>
            <br>
            <p>
                Our partner Goshen’s citywide poster campaign, in conjunction with Citypass, “Travel Together – Play
                Together” encourages parents to use train travel as quality playtime with their children. Check out the
                fun, colorful, and informative posters that suggest
                different games for parents to play with their children.
            </p>
            <br>
            <a href="/news">
                <button class="red-more-buttons"> <a href="/news"></a>Read
                    More</button>
            </a>
        </div>
        <br>
        <div class="nav-card-item-content">
            <h5>Generali - The Human Safety Net Global Playful Parenting Digital Hackathon</h5>
            <br>
            <div style="border-style: groove; border-color:#abf2f7">
                <video width="100%" height="150px" src="assets/resources/news/THSNHackathon.mp4" controls muted></video>
            </div>
            <br>
            <p>
                The Generali Group and our partner The Human Safety Net are organizing a 2-day global hackathon,
                mobilizing its Generali volunteering community in 22 countries to adapt the COVID-19 playful Parenting
                content
                in more than 20 languages. Together we hope that millions
                more vulnerable families will be able to benefit from this valuable support.
            </p>
            <br>
            <a href="/news">
                <button class="red-more-buttons"> <a href="/news"></a>Read
                    More</button>
            </a>
        </div>
        <br>
        <!--
    <div class="nav-card-item-content">
      <h5>Podcast "A new age of parenting: where data matters"</h5>
      <br>
      <p>Is it actually possible to end violence against children?
        In its new podcast series, the End Violence Partnership explores the answer to that question by talking to those
        on the frontlines – the experts, researchers and leaders that have dedicated their lives to keeping children
        safe.
      </p>
      <br>
      <a routerLink="/news">
        <button class="red-more-buttons"> <a routerLink="/news"></a>Read
          more</button>
      </a>
    </div>
    -->
        <br>
    </div>
    <br>
    <div class="nav-card-item nav-card-two" data-aos="zoom-in" data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom">
        <h5 class="nav-card-item-header">RESOURCES</h5>
        <div class="nav-card-item-content">
            <div class="nav-cards-img"><img src="assets/images/home_resources.png" /></div>
        </div>
        <div class="nav-card-item-content">
            <h5>Public Service Announcements</h5>
            <br>
            <div><img src="assets/images/PSA-thumbnail.PNG" /></div>
            <BR>
            <p>
                Our tips for Public Service Announcements (PSAs) and practical guides are helpful tools to broadcast
                positive playful parenting to families and communities.
            </p>
            <br>
            <a href="/psa">
                <button class="red-more-buttons"> <a href="/psa"></a>Read
                    More</button>
            </a>
        </div>
        <br>
        <div class="nav-card-item-content">
            <h5>Faith-Based Resources</h5>
            <br>
            <div>
                <img src="assets/resources/faithbased/leaders_thumbnail.png" />
            </div>
            <br>
            <p>
                Our Faith-Based Resources promotes positive playful parenting to families and communities.
            </p>
            <br>
            <a href="/faithleaders">
                <button class="red-more-buttons"> <a href="/faithleaders"></a>Read
                    More</button></a>
        </div>
        <br>
        <div class="nav-card-item-content">
            <h5>Digital Playful Parenting</h5>
            <br>
            <p>
                Our Digital Playful Parenting resources are tools designed to reach parents through digital formats such
                as
                online and/or mobile applications, texting and chat services.
            </p>
            <br>
            <a href="/digitalparenting">
                <button class="red-more-buttons"> <a href="/digitalparenting"></a>Read
                    More</button>
            </a>
        </div>
        <br>
        <div class="nav-card-item-content">
            <h5>Audiovisual Resources</h5>
            <br>
            <div>
                <img height="350px" width="350px" src="assets/resources/comics/3_image.png">
            </div>
            <p>
                See how our open-source and evidence-based playful parenting resources have been designed for specific
                audio and
                visual presentations.
            </p>
            <br>
            <a href="/audiovisuals">
                <button class="red-more-buttons"> <a href="/audiovisuals"></a>Read
                    More</button>
            </a>
        </div>
        <br>
        <div class="nav-card-item-content">
            <h5>Social Media Kit</h5><br>
            <div>
                <img width="350px" height="196px" src="assets/resources/socialmedia/talking_covid_19.jpg">
            </div>
            <br>
            <p>
                Download our Social Media Squares, with suggested captions and # to use, to share our playful parenting
                tips on
                your Social Media profiles.
            </p><br>
            <a href="/socialmedia">
                <button class="red-more-buttons"> <a href="/socialmedia"></a>Read
                    More</button>
            </a>
        </div>

        <br>
        <div class="nav-card-item-content">
            <h5>Tips for Caseworkers</h5><br>
            <div><img src="assets/images/tip_sheet_thumbnails/caseworkers-thumbnail.png"> </div> <br>
            <p>
                We have designed special playful parenting tip sheets to be used by social workers for behavioral parent
                training, to help parents build positive parent-child relationships through play, reinforce positive and
                managing difficult behaviours, create structure and
                routines, talk about COVID-19, keep children safe online, and reduce stress and conflict.
            </p><br>
            <a href="/caseworkers">
                <button class="red-more-buttons"> <a href="/caseworkers"></a>Read
                    More</button>
            </a>
        </div>
    </div>
    <br>
    <div class="nav-card-item nav-card-three" data-aos="zoom-in" data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom">
        <h5 class="nav-card-item-header">PLAYFUl PARENTING TIP SHEETS</h5>
        <div class="nav-card-item-content">
            <div class="nav-cards-img"><img src="assets/images/home_tips.png" /></div>
        </div>
        <div class="nav-card-item-content">
            <h5>Playful & Positive</h5>
            <br>
            <div>
                <img src="assets/resources/tipsheet_thumbnail1.png" />
            </div>
            <br>
            <p>
                Our playful Parenting Tips have been developed by playful Parenting for Lifelong Health (PLH), WHO and
                Unicef and are
                available in 100+ languages.They include evidence-based advice on playful parenting and reducing stress,
                as well
                as lots of playful activities for parents and
                caregivers to do with children of all ages.
            </p>
        </div>
        <br>
        <div class="nav-card-item-content">
            <h6>Check our Playful Parenting Tip Sheets for more information</h6>
            <div class="nav-cards">
                <div class="nav-card-item">
                    <div class="nav-card-item-content tipsheets-item-content" data-aos="zoom-in"
                        data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
                        <div>
                        </div>
                        <a style="font-size: 18px;" href="assets/resources/psas/Top-6-Tips-English.pdf"
                            target="_blank">Top 6 Playful
                            Parenting Tips</a>
                        <hr />
                        <div *ngFor="let tipSheet of arrVisibleTipSheets">
                            <a href="{{ tipSheet.pdfSrc}}" target="_blank">
                                {{ tipSheet.title }}
                            </a>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>

            <a href="/tips">
                <button class="red-more-buttons"> <a href="/tips"></a>See the playful parenting tip sheets in 100+
                    languages
                </button>
            </a>

        </div>
        <br>
        <div style="margin-left: 15px;">
            <div><img src="assets/images/tip_sheet_thumbnails/one-on-one-time.png"></div>
            <br>
            <div><img src="assets/images/tip_sheet_thumbnails/remote-learning.png"></div>
            <br>
            <div><img src="assets/images/tip_sheet_thumbnails/managing-stress.png"></div>
            <br>
            <div><img src="assets/images/tip_sheet_thumbnails/children-with-disabilities.png"></div>
        </div>
    </div>
</div>